// Colors

$white: #fff;
$black: #24292E;
$off-white: #fafafa;
$white-hov: rgba(255,255,255,0.7);
$grey-text: #9B9B9B;
$spotify-green: #1DB954;
$spotify-button-border: #1AA34A;
$spotify-green-dark-1: #1E9548;
$spotify-green-dark-2: #1F8242;
// $grey-text: #eee;
$white-lilac: #E9E6E9;
$theme-purple: #8212E2;
$grey-border: #ddd;
$black-text: #4A4A4A;
$black-background: #121212;
$black-bg-transparent: rgba(18,18,18,0.8);
$black-transparent: rgba(0,0,0,0.5);
$lighter-black-background: #181818;
$dark-border: #282828;
$black-light-bg: #282828;
$blue: #4988D4;
$black-footer: #242424;

// Font weights

$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;

html {
  height: 100%;
}

body {
  background-color: $black-background;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;

  font-size: 0.9rem;
  color: $white;
  max-width: 100vw;
}

h1, h2, h3, h4, h5 {

}

h5 {
  font-size: 1.2rem;
  font-weight: $light-weight;
}

.header-centered {
  text-align: center;
}

a {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

hr {
  height: 1px;
  border-color: $white-lilac;
  // border: 1px solid;
}

pre {
  padding: 0.5rem;
  margin: 1rem;
  border: 0px solid $grey-text;
  border-radius: 0.25rem;
  background-color: $white-lilac;
}

.italic {
  font-weight: 200;
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.regular {
  font-weight: $light-weight;
}

.medium {
  font-weight: $medium-weight;
  letter-spacing: 0px;
}


*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

label:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.logo{
  width: 100px;
  height: auto;
  float: left;
}

// buttons

.btn-spotify {
  display: inline-block;
  font-size: 1rem;
  background-color: $spotify-green;
  border: 1px solid $spotify-button-border;
  border-radius: 500px;
  // height: 50px;
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 25px auto 15px auto;
  letter-spacing: 2px;
  font-weight: $heavy-weight;
  vertical-align: middle;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $spotify-button-border;
  }


}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: $spotify-button-border;
  border: 1px solid $spotify-button-border;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: $spotify-button-border;
  border: 1px solid $spotify-button-border;
}

.btn.active {
  // background-color: $black;
}

.btn-group {
  text-transform: uppercase;
  margin: auto;

  .btn {
    border: 0.5px solid $grey-border;
    background-color: $white;
    outline: none;
    padding: 0.3rem 0.6rem;

    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }



  }

  .btn-outline-primary {
    color: $white;
    font-weight: lighter;
    font-size: 0.7rem;
    // box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.1);
    background-color: $black-background;
    border: 1px solid $dark-border;
    border-bottom: 3px solid $dark-border;
    text-transform: uppercase;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      // background-color: $white-lilac;
      // border: 1px solid $spotify-button-border;
      // background-color: $spotify-button-border;
      // border: none;
      border: 1px solid $dark-border;
      border-bottom: 3px solid $spotify-button-border;
    }
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }

   //  opacity: 1;
   // transition: opacity 0.4s ease-in;
   // -moz-transition: opacity 0.4s ease-in;
   // -webkit-transition: opacity 0.4s ease-in;

  }

  .btn-outline-primary:not(:disabled):not(.disabled).active {
    background-color: $black-background;
    // background-color: rgba(153, 43, 244, 0.05);
    border: 1px solid $dark-border;
    border-bottom: 3px solid $spotify-button-border;
    color: $white;

    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }

  }

  .btn-long, .btn-artists {
    // border-radius: 0;
    // border-radius: 0.3rem 0 0 0.3rem;
  }

  .btn-short, .btn-tracks {
    // border-radius: 0;
    // border-radius: 0 0.3rem 0.3rem 0;
  }

  .btn-artists {
    // text-decoration: line-through;
    // color: $grey-text;
  }
}

.btn-create-playlist {
  grid-area: add-button;
  color: $white;
  display: inline-block;
  font-size: 1rem;
  background-color: $spotify-green;
  border: 1px solid $spotify-button-border;
  border-radius: 100px;
  // height: 50px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0px 0px 0px 0px;
  letter-spacing: 2px;
  font-weight: $heavy-weight;
  vertical-align: middle;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: $spotify-button-border;
  }
}



.filter-button-wrapper {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-gap: 0.1rem;
  grid-template-areas: "range type";
  grid-template-columns: 6fr 4fr;
  justify-items: center;
  margin: 0px auto 0px auto;
}

#filterButtons {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: $black-bg-transparent;
  padding: 10px 0 10px 0;
  z-index: 1;
}



.navbar {
  color: $black;
  // background-color: $black-light-bg;

  // border-top: 0px solid $gradient-purple;
  // border-bottom: 2px solid $lighter-black-background;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0),
              0px 10px 30px rgba(0, 0, 0, 0);
  transition: top 0.6s ease-in-out;
  min-height: 8vh;

  .material-icons {
    margin-right: 5px;
    vertical-align: middle;
  }

  .twitter-icon {
    font-size: 1.4rem;
    margin: 0.5rem;
  }

  .nav-item {
    padding: 0 0 0 0px;

    &:nth-of-type(2) {
      margin-right: 0px;
    }
  }

  .screenshot {

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &:hover {
      transform: translateY(0px);
      color: $grey-text;
      cursor: default;
    }
  }

  #step-twitter {
    background-color: #197BBD;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    a {
      color: $white;

    }
  }

  .step-number {
    // background-color: $black-background;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    float: left;

    
  }

  ul {
    // float: right;
  }

  li {
    // margin-left: 1.25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-text;
    // text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03rem;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      transform: translateY(-1px);
      text-decoration: none;
    }

    a {
      color: $grey-text;
      // font-size: 1.2rem;
      // text-transform: none;
      text-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;

      &:hover {
        color: $white;
        cursor: pointer;
      }

      &:hover {
        text-decoration: none;
      }


    }

    &:hover {
      color: $white;
      cursor: pointer;
    }

  }

  .navbar-transparent {
    background-color: $white-lilac;
  }

  .nav-link--emphasis {
    // color: $theme-primary;
  }

  .fas {
    font-size: 1.3rem;
    margin: 0.7rem;
    // color: $white-hov;

    // &:hover {
    //   color: $white;
    //   cursor: pointer;
    // }
  }

  .profile-icon {
    display: inline-block;
  }

  .container--create-playlist {
    background-color: none;
    border-radius: 100px;
    height: auto;
    border: 0px solid $black-light-bg;
    margin: 10px 0px 0px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "add-button add-button"
                         "inc-button dec-button";
    grid-column-gap: 8rem;            
    grid-row-gap: 0.5rem;   

    &:hover {
      transform: translateY(0px);
    }

    #trackCount {
      background-color: $spotify-green-dark-1;
      padding: 7px 9px 3px 12px;
      border-radius: 5px;
      border-bottom: 4px solid $spotify-green-dark-2;
    }
  }

  .btn-increment {
    color: $white;
    display: inline-block;
    // font-size: 2rem;
    background-color: #2A2A2A;
    // border: 1px solid $spotify-button-border;
    border-radius: 100px;
    // height: 50px;
    text-transform: uppercase;
    // padding: 10px 20px;
    // margin: 10px 0px 0px 0px;
    letter-spacing: 2px;
    font-weight: $heavy-weight;
    vertical-align: middle;
    // background: none;
    
    &:hover {
      background-color: #3A3A3A;
    }
    .material-icons {
      margin: 0px 0px 0px 0px;
    }
  }

  #incrementIncrease {
    grid-area: inc-button;
  }

  #incrementDecrease {
    grid-area: dec-button;
  }


}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: .01em;
  color: $black;
  font-weight: $medium-weight;
  // margin: 0.4em 0.5em 0em 2em;
  text-decoration: none;
  // text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  vertical-align: baseline;

  &:hover {
    color: $black;
  }

}

.step {
  // border: 1px solid $grey-border;
  background-color: $black-footer;
  border-radius: 0rem;
  padding: 0.5rem;
}



.text--brand {
  display: flex;
  height: 4rem;
  font-size: 1.2rem;
  align-items: center;
  margin: 0 0 0 0rem;
  color: $white;
}

#nav-icon {
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;

 span {
    display: block;
    position: absolute;
    height: .2rem;
    width: 100%;
    background: $black;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }

  span:nth-child(1) {
    top: 1.5rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 1rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: .5rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}

.navbar-toggler {
  border: none;
  display: flex;
  align-items: center;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../images/chevron-down.svg");
  float: right;
}

.image--brand {
  float: left;
  // width: 2rem;
  height: 4rem;
  padding: 0;
  margin: auto 0rem auto 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translate(-2px, -2px);

    // transform: rotate(5deg);
  }
}

.image-profile {
  border-radius: 50%;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  width: 40px;
  margin: 0 0.5rem 0 0;
  float: left;

  &:hover {
    // transform: translateY(-2px);
  }
}

.image--iphone {
  transform: rotate(0deg);
  width: 75%;
  opacity: 1;
  display: block;
  margin: 20px auto 0px auto;
  // position: relative;
}

.track-list-wrapper {
  // border-radius: 0.5rem;
  // margin: 20px auto;
  display: grid;
  // grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  // width: 100vw;

  // grid-template-areas: "track"
  //                      "footer";
  a {
    display: block;
    text-decoration: none;
  }

  .track-list-item {
    background-color: $lighter-black-background;
    min-height: 60px;
    display: grid;
    grid-template-columns: 60px 1fr 30px;
    border: 0.5px solid $dark-border;
    border-bottom: none;
    align-items: center;

    &:hover {
      background-color: $dark-border;

      .spotify-link {
        color: $white;
      }

    }

    .album-cover {
      position: relative;

      .top-left {
        font-size: 0.9rem;
        font-weight: lighter;
        position: absolute;
        top: 0em;
        left: 0em;
        background-color: $black-transparent;
        border-radius: 0 0 1rem 0;
        // border-right: 1px solid $lighter-black-background;
        // border-bottom: 1px solid $lighter-black-background;
        color: $white;
        min-width: 1.5rem;
        height: 1.5rem;
        text-align: right;
        padding: 0 0.3em 0 0;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
      }

      .album-artwork {
        height: 60px;
        width: 60px;
        float: left;
      }
    }


    .track-info {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      padding: 0 10px;

      .track {
        color: $white;
        font-weight: $medium-weight;


      }
      .artist {
        line-height: 1rem;

        .artist-name {
          color: $grey-border;
          font-weight: lighter;
          font-size: 0.8rem;

          &:after {
              content: ',';
          }

          &:last-of-type:after {
              content: '';
          }
        }
      }


    }

    .spotify-link {
      color: $grey-text;
      font-size: 0.8rem;
    }
  }

  .track-list-item:last-child {
    border-bottom: 0.5px solid $dark-border;
  }
}

#topTracks {
  // max-width: 800px;
  margin: auto;
  grid-area: tracks;
  display: none;
  width: 100vw;
  // opacity: 1;
  //  transition: opacity 0.4s ease-in;
  //  -moz-transition: opacity 0.4s ease-in;
  //  -webkit-transition: opacity 0.4s ease-in;
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;

   &.show {
    display: block;
   }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#topArtists {
  grid-area: artists;
  display: none;
  width: 100vw;

     &.show {
      display: block;
     }
}

.charts-container {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas: "tracks"
                       "artists";
  grid-template-columns: 1fr;
  justify-items: center;
}

.name-mobile {
  display: none;
}

.hero {
  margin: 20px auto 0px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  // position: absolute;

  h1 {
    font-size: 1.1rem;
    font-weight: lighter;
    text-align: center;
  }

  .wrapper--secure {
    // display: grid;
    // justify-items: center;
    // align-items: center;
    // grid-template-columns: 1fr 1fr;
  }

  h5  {
    vertical-align: middle;
    text-align: center;
    // text-transform: uppercase;
    font-size: 0.8rem;
    color: $grey-text;
  }

  .material-icons {
    font-size: 0.65rem;
  }

  .image--iphone {

  }
}

.container--full-width {
  // max-width: 800px;
  margin: auto;
  padding: 0px;
  max-width: 100vw;
}

.container-logo {
  display: grid;
  grid-template-columns: 3fr 5fr;
  margin: 20px auto 0 auto;
  // padding: auto;
  width: 200px;
  font-size: 2rem;
  justify-items: center;
  align-content: center;

  span {
    vertical-align: bottom;
  }
}

.hero-logo {
  margin: auto;
  height: 70px;
  display: inline-block;
}

.logo-text {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.name-mobile {
  display: block;
}

.name-desktop {
  display: none;
}

.image-profile-desktop {
  display: none;
}

.btn-group-type {
  grid-area: type;
}

.btn-group-range {
  grid-area: range;
}

.chart-title {
  color: $grey-text;
  text-align: center;
  display: none;
  text-transform: uppercase;

  h3 {
    font-size: 1rem;
    font-weight: $medium-weight;
  }

  .material-icons {
    font-size: 1rem;
  }

}

.container-footer {
  width: 100vw;
  height: 100px;
  color: $grey-text;
  background-color: $lighter-black-background;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-weight: $light-weight;

  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  .if-logo {
    height: 30px;
    width: auto;

    &:hover {
      // transform: translateY(-2px);
    }
  }

  a {
    text-decoration: none;
    color: $grey-text;

    &:hover {
      color: $white;
    }
  }

  .fa-github {
    margin: 0 0 0 5px;
    // font-size: 1.2rem;
  }

  .github-link {
    // font-size: 1.2rem;
    // margin: 0 0 0 10px;
  }

  .separator {
    margin: 0 10px;
    font-weight: $light-weight;
    // font-size: 2rem;
  }
}

// Desktop media query

@media only screen and (min-width : 767px) {
  .image--brand {
    height: 5rem;
  }

  .text--brand {
    height: 5rem;
    // font-size: 2rem;
    margin: 0 0 0 4.5rem;
  }

  // .filter-button-wrapper {
  //
  //   grid-template-columns: 2fr 1fr;
  //
  // }

  .name-desktop {
    display: block;
  }

  .name-mobile {
    display: none;
  }

  .navbar {
    .profile-icon {
      display: none;
    }

    .profile-link {
      padding: 0px 0px;
      margin: 0px 20px;
    }

    .nav-item {
      padding: 0 0 0 0px;

      &:nth-of-type(2) {
        margin-right: 20px;
      }
    }

    .container--create-playlist {
      margin: 0px 0px;
      grid-template-columns: 5fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "add-button inc-button dec-button";
      background-color: $lighter-black-background;
      border: 0.5px solid $black-light-bg;
      grid-column-gap: 0rem;            
      grid-row-gap: 0rem; 
    }

    .btn-increment {
      background: none;

    }
  }
    

   .image--iphone {
     width: 30%;
   }

   .image-profile-desktop {
     display: inline-block;
   }



   .btn-group {
     .btn-outline-primary {
       font-size: 0.8rem;
     }
   }

   .charts-container {
     grid-template-areas: "tracks"
                          "artists";
     grid-template-columns: 1fr;
     justify-items: center;
   }

   .track-list-wrapper {
     // float: right;
     .track-list-item:nth-of-type(1) {
       border-top-left-radius: 7px;
       border-top-right-radius: 7px;

       .album-cover {
         .album-artwork, .top-left {
           border-top-left-radius: 7px;
           border-top: 0.5px solid $dark-border;
         }
       }
     }

     .track-list-item:last-child {

       border-bottom-left-radius: 7px;
       border-bottom-right-radius: 7px;

       .album-cover {
         .album-artwork {
           border-bottom-left-radius: 7px;
           border-bottom: 0.5px solid $dark-border;
         }
       }
     }

   }

   #topTracks, #topArtists {
     width: 80%;
   }

   .container-footer {
     margin: 20px auto 0 auto;
   }

   .hero {

     h1 {
       font-size: 2rem;
     }
   }

   .btn-create-playlist {
    margin: 0px 0px;
   }

   
   

}


/* Custom, iPhone Retina */

   @media only screen and (max-width : 767px) {


   }

//  Wide desktop media query

@media only screen and (min-width : 1000px) {
  .filter-button-wrapper {
    grid-template-areas: "range";
    grid-template-columns: 1fr;
  }

  .btn-group-type {
    display: none;
  }

  .charts-container {
    grid-template-areas: "tracks artists";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 1200px;
  }

  #topArtists, #topTracks {
    display: block;
    width: 80%;
    &.show {
        display: block;
    }
  }

  .chart-title {
    display: inline-block;
  }

  .navbar {
    .step {
      // border: 1px solid $grey-border;
      display: none; 
    }
   }

}
