<script id="filter-buttons" type="text/x-handlebars-template">
  <div class="filter-button-wrapper">
    <div class="btn-group btn-group-toggle" role="group" aria-label="Time interval" data-toggle="buttons">
      <button type="button" class="btn btn-outline-primary btn-short" onclick="rangeClicked('short');">Recent</button>
      <button type="button" class="btn btn-outline-primary btn-medium" onclick="rangeClicked('medium');">6 Months </button>
      <button type="button" class="btn btn-outline-primary btn-long"  onclick="rangeClicked('long');">All time</button>
    </div>

    <div class="btn-group btn-group-toggle" role="group" aria-label="Type" data-toggle="buttons">
      <button type="button" class="btn btn-outline-primary btn-tracks" id='btn-tracks' onclick="typeClicked('tracks');">Tracks</button>
      <button type="button" class="btn btn-outline-primary btn-artists " id='btn-artists' onclick="typeClicked('artists');">Artists</button>
    </div>
  </div>
</script>
